/* reset styles to sanity */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body
{
    background-color: #ddd;
    font-family: "Palatino Linotype", "Palatino", Georgia, serif;
    font-size: 62.5%;
    line-height: 1;
}

.wrapper
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    margin: 3em auto;
    padding: 2em;
    width: 65em;
}

h1
{
    font-size: 2em;
}

p
{
    font-size: 1.2em;
    margin-top: 0.4em;
}

.reorderableList
{
    background-color: #777;
    border: 2px solid #777;
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.6) inset;
    display: block;
    margin: 1em 0;
    padding-bottom: 2em;
}

.reorderableList li
{
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #777;
    color: #777;
    display: block;
    font-size: 1.7em;
    list-style-type: none;
    padding: 0.5em 1em;
}

.reorderableList li strong
{
    color: #000;
    display: inline-block;
    width: 1.7em;
}

.reorderableList.heightLimited
{
    height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

